@import "../../../variables.scss";

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



/* SIDEBAR STYLES */
.sidebar-wrapper{
  width: 350px;
  background-color: $black-lila;
  .sidebar-heading{
    background-color: $light-lila;
    .logo{
      width: 200px;
      height: auto;
      margin: 5px auto 20px auto;
      img{
        @include imgObject(contain, center, center);
      }
    }
    .user{
      width: 270px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .avatar-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #d8d8d8;
        padding: 3px;
        overflow: hidden;
        img{
          border-radius: 50%;
          @include imgObject(cover, center, center)
        }
      }
      .user-data{
        width: calc(250px - 100px);
        word-break: break-all;
        .name{
          font-size: 25px;
          color: #fff;
          margin: 0;
        }
        p{
          color: #fff;
          font-size: 13px;
          margin: 0;
        }
        .btn-aprimary{
          margin: 25px 0 0 0;
          padding: .7rem 1rem;
          float: right;
          position: relative;
          border-radius: 0 5px 5px 0;
          &::after{
            content: '';
            background-color: #ff0166;
            //height: calc(100% + 1px);
            height: 100%;
            width: 31px;
            -webkit-clip-path: polygon(34% 47%, 100% 100%, 100% 0);
            clip-path: polygon(34% 47%, 100% 100%, 100% 0);
            position: absolute;
            left: -30px;
            top: 0;

          }
          /* &::after{
            content:'';
            width: 43px;
            height: 33px;
            background-color: $rosado;
            -webkit-clip-path: ellipse(32px 11px at 49px);
            clip-path: ellipse(27px 7px at 50px);
            position: absolute;
            left: -42px;
            top: 0;
          } */
        }
      }
    }
  }
  .user-profile{
    width: 100%;
    height: auto;
    .tittle{
      font-family: $Oswald;
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $celeste;
      border-bottom: solid 2px $celeste;
      margin-bottom: 20px;
    }
    .info-profile{
      h5{
        font-family: $Oswald;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $yellow;
      }
      p{
        font-family: Futura;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding-left: 20px;
      }
    }
  }
}
