<div class="login-view">
  <div class="login-form">
    <h1 class="title text-center">aula startup<img src="" alt=""></h1>
    <p class="text-center">dashboard</p>
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Usuario">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Contraseña">
      </div>
      <div class="form-group text-center">
        <button class="btn btn-aprimary mt-5">Login</button>
        <!-- <a href="" routerLink="/dashboard" class="btn btn-aprimary">Ingresae</a> -->
      </div>
    </form>
  </div>
</div>
