
@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
.login-view{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../assets/background.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .8;
    z-index: 10;
  }
  .login-form{
    width: 80%;
    border: solid 1px red;
    z-index: 15;
    @include absoluteCenter;

  }
}
