
$light_lila: #442464;
$rosado: #ff0166;
$black_lila: #33273f;
$gold: #ffde5f;
$yellow: #eff21e;
$celeste: #3d9be9;

@font-face {
  font-family: "Futura Medium";
  src: url("/../src/assets/fonts/Futura-Medium.otf");
}
$Oswald: 'Oswald', sans-serif;

$Futura: 'Futura Medium', sans-serif;

p, a, span{
  font-family: $Futura;
}
@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
@mixin imgObject($fit, $x, $y) {
  width: 100%;
  height: 100%;
  object-fit: $fit;
  object-position: $x $y;
}
.btn-aprimary{
  border:none;
  background-color: $rosado;
  padding: .7rem 3.5rem;
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
