<div class="contenedor-sidebar">
    <div class="sidebar-heading">
        <div class="container px-4 pb-5">
          <div class="logo"><img src="../../../assets/logo-2.svg" alt=""></div>
          <div class="user">
            <div class="avatar-img d-none d-md-block"><img src="../../../assets/background.jpg" alt=""></div>
            <div class="user-data mx-auto mx-md-auto">
              <h3 class="name">Juan Perez</h3>
              <p>perez_juan@gmail.com</p>
              <button class="btn btn-aprimary">
                <div class="clip"></div> Cerrar Sesión-
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="container px-md-3 py-5 px-lg-4">
        <div class="user-profile">
          <h3 class="tittle">PERFIL PROFESIONAL</h3>
          <div class="info-profile">
            <h5>Especialidad:</h5>
            <p>Estudiante de Economía - 4to semestre</p>
          </div>
          <div class="info-profile">
            <h5>Lugar de estudio:</h5>
            <p>Universidad Nacional de Asunción</p>
          </div>
          <div class="info-profile">
            <h5>País:</h5>
            <p><img src="" alt=""> Paraguay</p>
          </div>
          <div class="info-profile">
            <h5>Intereses de carrera:</h5>
            <p>Ventas  |  Comunicación</p>
          </div>
        </div>
      </div>
</div>
